#iframe{
float: right;
margin-top: 60px;
}
.left{
	width: 16%;
	float: left;
	height: auto;
	overflow: auto;
	margin-left: 5%;
	text-align: left;
	border-right: 1px solid #46bed6;
	border-left: 1px solid #46bed6;
	margin-top: 60px;
	padding-bottom: 30px;
}
.black-father{
	float: left;
}
.red{
	float: left;
}
body{
	background:#eeeeee;
}
.left p{
	font-size: 25px;
	margin-bottom: 15px;
	margin-top: 25px;
		padding-left: 32px;
	padding-right: 35px;
	color: #4a4a4a;
	cursor: pointer;
}
.left ul li{
	font-size: 16px;
	margin-top: 25px;
	padding-left: 35px;
	padding-right: 35px;
}
.left ul li a{
	color: #4a4a4a;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.tab {
	display: none;
}
.left p a{
	color: #4a4a4a;
}